<div class="jumbotron" style="margin-top:2%; background-color:rgb(255, 255, 255)">
    <h4>
        <i class="fa fa-edit" aria-hidden="true"></i> Editar Perfil</h4>
    <hr>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-7">
            <table class="table table-bordered text-center table-hover mt-5" style="width:90%">
                <thead class="bg-warning">
                    <tr>
                        <th>Nome Completo</th>
                        <th>Contacto</th>
                        <th>Email</th>
                        <th>Departamento</th>
                        <th>Setor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Andre Silva</td>
                        <td>912345678</td>
                        <td>andre.silva@email.com</td>
                        <td>Departamento 1</td>
                        <td>Setor 1</td>
                </tbody>
            </table>
        </div>
        <div class="col-3"></div>
    </div>
    <hr>
    <!-- Formulário -->
    <div class="row mt-5">
        <div class="col-4 ml-4"></div>

        <div class="col">
            <form action="#">

                <!-- Nome Completo -->
                <div class="form-group">
                    <label for="nomeCompleto">Nome Completo:</label>
                    <input type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo">
                </div>

                <!-- Contacto -->
                <div class="form-group">
                    <label for="contacto">Contacto:</label>
                    <input type="text" class="form-control" id="contacto" placeholder="Contacto">
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" placeholder="Email">
                </div>

                <!-- Departamento -->
                <div class="form-group">
                    <label for="departamento">Departamento:</label>
                    <select class="form-control" name="departamento" id="departamento">
                                    <option value="departamento1">Departamento 1</option>
                                    <option value="departamento2">Departamento 2</option>
                                    <option value="departamento3">Departamento 3</option>
                                    <option value="departamento4">Departamento 4</option>
                                    <option value="departamento5">Departamento 5</option>
                                    </select>
                </div>

                <!-- Setor -->
                <div class="form-group">
                    <label for="setor">Setor:</label>
                    <select class="form-control" name="setor" id="setor">
                                    <option value="setor1">Setor 1</option>
                                    <option value="setor2">Setor 2</option>
                                    <option value="setor3">Setor 3</option>
                                    <option value="setor4">Setor 4</option>
                                    <option value="setor5">Setor 5</option>
                                    </select>
                </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-2" style="margin-left:15px">
            <a class="btn btn-block mt-5 mb-4 btn-warning" href="#">Atualizar Utilizador</a>
        </div>
        <div class="col-2"><a class="btn btn-block mt-5 mb-4 btn-warning" href="#">Remover Utilizador</a></div>
        <div class="col-2"><a class="btn btn-block mt-5 mb-4 btn-warning" href="adminConsultarDispositivo">Voltar Atrás</a></div>
        <div class="col-2"></div>
    </div>
</div>
</div>
</div>
</div>
<!-- Footer -->
<div class="footer text-white" style="background-color:#555555">
    <div class="container">
        <div class="row">
            <div class="col-4 mt-5">
                <h2 class="mb-4">Contactos</h2>
                <i class="fa mr-2 text-secondary fa-envelope-o"></i>
                <a href="mailto:9160132@esmad.ipp.pt" class="text-white">9160132@esmad.ipp.pt</a>
                <br>
                <i class="fa mr-2 text-secondary fa-envelope-o"></i>
                <a href="mailto:9160083@esmad.ipp.pt" class="text-white">9160083@esmad.ipp.pt</a>
                <br>
                <br>
            </div>
            <div class="col-4 mt-5">
                <h2 class="mb-4 ml-5">Escola</h2>
                <i class="fa mr-2 text-secondary fa-graduation-cap ml-5"></i>
                <a href="https://www.esmad.ipp.pt/" target="_blank" class="text-white">ESMAD</a>
                <br>
            </div>
            <div class="col-4 mt-5">
                <h2 class="mb-4 ml-5">Localização</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.365083451212!2d-8.74163288467379!3d41.366152179266095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd244419ac8a36b3%3A0x9219b42064878c38!2sEscola+Superior+de+Media+Artes+e+Design!5e0!3m2!1spt-PT!2spt!4v1526322653300"
                    width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                <br>
            </div>
        </div>
    </div>
</div>
                