<div class="jumbotron" style="margin-top:2%; background-color:rgb(255, 255, 255)">
    <h4>
        <i class="fa fa-clock-o" aria-hidden="true"></i> Pendentes</h4>
    <hr>
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <table class="table table-bordered text-center table-hover mt-5" style="margin: auto;" id ="pendentes">
                <thead class="bg-warning">
                    <tr>
                        <th style="width: 150%">Nome Completo</th>
                        <th>Contacto</th>
                        <th>Email</th>
                        <th>Departamento</th>
                        <th>Setor</th>
                        <th>Adicionar</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>
