<div class="jumbotron rounded" style="margin-top:2%; background-color:rgb(255, 255, 255)">

    <!-- Título -->
    <h4>
        <i class="fa fa-search" aria-hidden="true"></i> Consultar Dispositivos</h4>

    <hr>

    <!-- Tipos de Dispositivos -->
    <div class="row" id="botoes">

        <div class="col-3 ml-4"></div>

        <!-- Sensor -->
        <div class="col">
            <h5>Sensor</h5>
            <img class="border rounded p-1 mt-1" src="img/sensor.png" id="sensor" alt="Sensor" width="80" height="70">
        </div>
        <div class="col-1"></div>

        <!-- Atuador -->
        <div class="col">
            <h5>Atuador</h5>
            <img class="border rounded p-1 mt-1" src="img/atuador.png" alt="atuador" id="atuador" width="80" height="70">
        </div>

        <div class="col-1"></div>

        <!-- Display -->
        <div class="col">
            <h5>Display</h5>
            <img class="border rounded p-1 mt-1" src="img/display.png" alt="display" id="display" width="80" height="70">
        </div>

        <div class="col-3"></div>
    </div>

    <hr style="margin-top:5%">

    <!-- Tabela -->

    <div class="row mt-5" id="tabela">
        <div class="col-3"></div>

        <div class="col-7" style="margin-right:10%">

            <!-- Selects -->
            <div class="form-group mt-5">

                <!-- Funcionalidade -->
                <label for="funcionalidade">Funcionalidade: </label>
                <select name="funcionalidade" id="funcionalidade">
                            </select>

                <!-- Marca -->
                <label class="ml-2" for="marca">Marca: </label>
                <select name="marca" id="marca">
                            </select>

                <!-- Modelo -->
                <label class="ml-2" for="modelo">Modelo: </label>
                <select name="modelo" id="modelo">
                            </select>

                <button class="btn btn-primary ml-1" id="filtrar">Filtrar</button>

                <br>

                <input type="number" class="mt-3" placeholder="Número do Dispositivo" id="inputPesquisar">

                <button class="btn btn-primary ml-3" id="pesquisar">Pesquisar</button>

            </div>

            <!-- Tabela -->
            <table class="table table-hover table-bordered text-center mt-4" style="width:90%">
                <thead class="bg-primary text-white">
                    <tr>
                        <th style="width:15%">Número</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th style="width:20%">Funcionalidade</th>
                        <th>Consultar</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div class="col-2"></div>
    </div>
</div>
