<div class="jumbotron" style="margin-top:2%; background-color:rgb(255, 255, 255)">
    <h4>
        <i class="fa fa-plus-square" aria-hidden="true"></i> Setores</h4>
    <hr>

    <!--TABELA COM OS SETORES-->

    <div class="row">
        <div class="col"></div>
        <div class="col-7">

            <label style="margin-left:17%" for=""><b>Nome/Sigla/Número: </b></label>

            <input type="text" class="mt-3 ml-2" placeholder="Nome/Sigla/Número" id="inputPesquisar">

            <button class="btn btn-warning ml-3 mb-1" id="pesquisar" style="font-size: 90%"><b>Pesquisar</b></button>

            <table class="table table-bordered text-center table-hover mt-5" id="tblSetores"style="width:90%; margin: auto;">
                <thead class="bg-warning">
                    <tr>
                        <th>Número</th>
                        <th>Nome</th>
                        <th>Sigla</th>
                        <th>Departamento</th>
                        <th>Editar</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="col-4 mt-5" style="margin: auto;">
                <a class="btn btn-block btn-warning" href="#" id="adicionarNovoSetor"><b>Adicionar Novo Setor</b></a>
            </div>


        </div>
        <div class="col"></div>
    </div>


    <!--FORMULARIO DO REGISTO DE UM NOVO SETOR-->


    <div class="row d-none" style="margin-top: 13%" id="novoSetor">
        <div class="col-4"></div>
        <div class="col-4">

            <!--Formulário-->
            <form action="/saveSetor" id="registoSetor" method="POST">

                <!--Nome-->
                <div class="form-group">
                    <label style="color:black" for="nome" class="control-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" data-error="Campo obrigatório!" required>
                    <div style="color:black; font-style: italic" class="help-block with-errors"></div>
                </div>

                <!--Sigla-->
                <div class="form-group">
                    <label style="color:black" for="sigla" class="control-label">Sigla:</label>
                    <input type="text" class="form-control" id="sigla" name="sigla" placeholder="Sigla" data-error="Campo obrigatório!" required>
                    <div class="help-block with-errors" style="color:black; font-style:italic"></div>
                </div>

                <!-- Departamento -->
                <div class="form-group">
                    <label for="departamento">Departamento:</label>
                    <select class="form-control" name="departamento" id="departamento">
                                    <option>Departamento</option>
                                </select>
                </div>



                <!--Botão Registar-->

                <div class="form-group mt-5">
                    <button id="adicionar" type="submit" class="btn btn-warning btn-block"><b>Adicionar</b></button>
                </div>
                
                <!--Botão Cancelar-->
                <a class="btn btn-block mt-3 mb-4 btn-warning" href="#" id="adicionarCancelar"><b>Cancelar</b></a>
            </form>

        </div>
        <div class="col"></div>
    </div>



    <!--EDITAR SETOR-->




    <div class="row d-none" id="editarSetor" style="margin-top: 10%; margin-left: 10%">
        <div class="col-3"></div>
        <div class="col-5">
            
            <!--Tabela-->
            
            <table class="table table-bordered text-center table-hover mt-5" id="tblEditar">
                <thead class="bg-warning">
                    <tr>
                        <th>Número</th>
                        <th>Nome</th>
                        <th>Sigla</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <!--Formulário-->
            <form class="mt-5" action="/updateSetor" id="atualizarSetor" method="POST">

                <!--Nome-->
                <div class="form-group">
                    <label style="color:black" for="editarNome" class="control-label">Novo Nome:</label>
                    <input type="text" class="form-control" id="editarNome" name="editarNome" placeholder="Nome">
                    <div style="color:black; font-style: italic" class="help-block with-errors"></div>
                </div>

                <!--Sigla-->
                <div class="form-group mt-4">
                    <label style="color:black" for="editarSigla" class="control-label">Nova Sigla:</label>
                    <input type="text" class="form-control" id="editarSigla" name="editarSigla" placeholder="Sigla">
                    <div class="help-block with-errors" style="color:black; font-style:italic"></div>
                </div>

                <!-- Departamento -->
                <div class="form-group">
                    <label for="editarDepartamento">Departamento:</label>
                    <select class="form-control" name="editarDepartamento" id="editarDepartamento">
                                    <option>Departamento</option>
                                </select>
                </div>

                <!--Botão Atualizar-->

                <div class="form-group mt-5">
                    <button id="btnEditar" type="submit" class="btn btn-warning btn-block"><b>Atualizar</b></button>
                </div>

                <!--Botão Cancelar-->
                <a class="btn btn-block mt-3 mb-4 btn-warning" href="#" id="editarCancelar"><b>Cancelar</b></a>
            </form>


        </div>
        <div class="col"></div>
    </div>
</div>
