<!-- Conteúdo da página -->
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-7 ml-auto">
        <div>
            <h2 style="color:white">Crie já um dispositivo e monitoriza-o em poucos passos!</h2>
        </div>
        <div style="margin-left:100px">
            <h6 style="color:white; margin-top:20px">Em apenas 3 passos irá conseguir criar o seu dispositivo e monitorizá-lo.</h6>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row" style="margin-top:100px">
    <div class="col-4 text-center">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
        <div class="row" style="margin-top:30px">
            <div class="col" style="color:white; text-align:right">
                <h1>1</h1>
            </div>
            <div class="col" style="color:white; text-align:left; margin-top:10px">
                <h5> <b>Adicionar.</b> <span style="font-size:15px">Vá aos Meus dispositivos na sidebar à esquerda e escolha Adicionar.</span> </h5>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
          </span>
        <div class="row" style="margin-top:30px">
            <div class="col" style="color:white; text-align:right">
                <h1>2</h1>
            </div>
            <div class="col" style="color:white; text-align:left; margin-top:10px">
                <h5> <b>Escolher.</b> <span style="font-size:15px">Escolha o dispositivo que quer, sensor, atuador ou display e insira os dados pedidos.</span> </h5>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
          </span>
        <div class="row" style="margin-top:30px">
            <div class="col" style="color:white; text-align:right">
                <h1>3</h1>
            </div>
            <div class="col" style="color:white; text-align:left; margin-top:10px">
                <h5> <b>Monitorizar.</b> <span style="font-size:15px">Vá a Monitorizar Dispositivos, selecione o dispositivo que criou e poderá com poucos cliques monitorizá-lo.</span> </h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-5" style ="margin-left:150px">
        <a class="btn btn-primary" href="adicionarDispositivo">Adicionar Dispositivo</a>
    </div>
    <div class="col-4"></div>
</div>
</div>
