<!-- Conteúdo da página -->
<div class="jumbotron" style="margin-top:2%; background-color:rgb(255, 255, 255)">

    <!-- Título -->
    <h4>
        <i class="fa fa-cog" aria-hidden="true"></i> Monitorizar Sensor</h4>

    <hr>

    <div class="row d-none" id="monitorizarsensor" style="margin-top: 10%">
        <div class="col-3"></div>
        <div class="col-7">

            <!-- Imagem -->
            <h5 style="margin-left:39.5%">Sensor</h5>
            <img class="border border-dark rounded p-1 mb-5" style="margin-left:40%" src="img/sensor.png" alt="Sensor" width="60" height="60">

            <br>


            <!-- Informação do Dispositivo -->

            <!-- Número -->
            <label for="numeroDispositivo" style="margin-left: 17%">
                            <b>Número:</b>
                        </label>
            <label class="numeroDispositivo"></label>

            <!-- Marca -->
            <label class="ml-5" for="marcaDispositivo">
                            <b>Marca:</b>
                        </label>
            <label class="marcaDispositivo"></label>

            <!-- Modelo -->
            <label class="ml-5" for="modeloDispositivo">
                            <b>Modelo:</b>
                        </label>
            <label class="modeloDispositivo"></label>

            <br>


            <!-- Definições do dispositivo -->

            <!-- Ligado/Desligado -->
            <label style="margin-top:5.2%; margin-left:17%">Ligado:</label>
            <label class="switch mt-5 ml-1">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>

            <br>

            <!-- Intervalo de medições -->
            <div class="row mt-2" style="margin-left:17%">
                <label>Intervalo de tempo entre as medições:</label>

                <input type="range" min="1" max="60" value="5" id="sldIntervalo" class="ml-3">

                <label class="ml-3">5</label> <label class="ml-1">min</label>
            </div>

        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-3">
            <button class="btn btn-block mt-5 btn-info">Gravar</button>
        </div>
        <div class="col"></div>
    </div>
</div>
