/* ---------------------------------------------------
   NAVBAR
----------------------------------------------------- */

#navprincipal {
    background-color: #272b30;
    padding-top: 5px;
    padding-bottom: 5px;

}


#navprincipal .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

#navprincipal .navbar-nav .nav-item .nav-link.active,
#navprincipal .navbar-nav .nav-item .nav-link:hover {
    color: rgb(74, 162, 250);
}

#navprincipal .navbar-nav .nav-item .nav-link {
    padding: 13px;
}



/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

#sidebar a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 300px;
    background: #ff5751;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active img {

    display: none;
}

#sidebar.active p {

    display: none;
}
#sidebar.active span {
    
    display: none;
}

#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}


#sidebar.active ul li a {
    font-size: 1.2em;
    padding:20px;
}

#sidebar.active ul li a label {
    text-align: center;
    font-size: 0em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

ul ul a {
    font-size: 0.9em !important;
    background: #f92118;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fc8c88;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #f9aca9;
}


/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
