<!doctype html>
<html lang="en">

<head>
  <title>Início</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- CSS import -->
  <link rel="stylesheet" href="style/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="img/simbolo.ico" />
  <style type= "text/css">
    body {
      position: relative;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top" id="navprincipal">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="img/logo2teste.png" style="width:30%; margin-bottom:1%; margin-top:1%; margin-left:15%">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav text-uppercase" style="margin-left:50%">
          <li class="nav-item">
            <a class="nav-link" href="#oque">O que é?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#funcoes">Funções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#equipa">Equipa</a>
          </li>
          <li class="nav-item ml-4 pl-4" style="border-left: 2px solid grey">
            <a type="" style="border" class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registo">Registo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="texto">
        <div class="texto-cima">Bem vindo à WebDevices!</div>
        <div class="texto-baixo text-uppercase">Registe-se e controle já os seus Dispositivos!</div>
        <a class="btn btn-primary text-uppercase" href="registo">Registar</a>
      </div>
    </div>
  </header>
  <!-- Conteúdo da página -->

  <!-- O que é? -->

  <div class=" jumbotron" id="oque" style="background-color:lightgrey">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <h2 style="margin-bottom:50px">O que é a WebDevices?</h2>
        <p style="color:#838384">Lorem ipsum dolor sit amet, est et dico mucius definitionem, doctus vulputate percipitur mei ea, his lorem nullam mediocrem in. Id melius hendrerit eam, vix at ferri commune, eu suas ceteros invidunt eum. Splendide instructior at mea, ut nec quas
          ullum elaboraret. Eos ne quas eruditi, quo porro persecuti complectitur ex, ut pro adhuc perfecto. Probo possit senserit pri cu, duo vivendum concludaturque in, in eripuit splendide per. Vel novum ludus an, ne ius enim dicant sanctus. Malis
          solet aperiri usu id, no veritus deleniti his, pro adhuc nemore ad. No has vidit delectus. Nisl wisi tincidunt te eam, posse oblique suscipit mel ex. Nec ea aliquando vituperatoribus. Sit id partem impedit posidonium. Invidunt recteque vis ex,
          te vis dolorem reformidans. Ne pertinacia incorrupte sea, te tation torquatos mel, mundi invenire posidonium cu vis. Petentium omittantur per an, vide probatus constituto quo ea, zril populo conclusionemque no his. Mel singulis consulatu democritum
          id, sea ea decore tritani.
        </p>
        <img src="img/logo2teste.png" style="width:30%; margin-top:60px"></img>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  </div>
  <!-- Funcoes -->

  <div id="funcoes" style="padding:120px">
    <div class="container">
      <div class="row" style="margin-bottom:60px">
        <div class="col-lg-12 text-center">
          <h2 style="font-size: 40px;">Funções</h2>
          <h3 style="font-size: 16px; color:#acacac; font-style:italic;">Funções da aplicação WebDevices</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
          <h4>Adicionar</h4>
          <p style="color:#797979;">Aqui pode adicionar dispositivos</p>
        </div>
        <div class="col-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
          </span>
          <h4>Consultar</h4>
          <p style="color:#797979;">Aqui pode consultar os seus dispositivos</p>
        </div>
        <div class="col-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
          </span>
          <h4>Monitorizar</h4>
          <p style="color:#797979;">Aqui pode Monitorizar os seus dispositivos</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Equipa -->

  <div id="equipa" style="padding:120px">
    <div class="container">
      <div class="row" style="margin-bottom:60px">
        <div class="col-lg-12 text-center">
          <h2 style="font-size: 40px;">Equipa</h2>
          <h3 style="font-size: 16px; color:#acacac; font-style:italic;">Equipa WebDevices</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-6">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
          </span>
          <h4>Artem Polushin</h4>
          <p style="color:#797979;">9160083</p>
        </div>
        <div class="col-6">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
          </span>
          <h4>Francisco Matos</h4>
          <p style="color:#797979;">9160132</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer text-white" style="background-color:#555555">
    <div class="container">
      <div class="row">
        <div class="col-4 mt-5">
          <h2 class="mb-4">Contactos</h2>
          <i class="fa mr-2 text-secondary fa-envelope-o"></i>
          <a href="mailto:9160132@esmad.ipp.pt" class="text-white">9160132@esmad.ipp.pt</a>
          <br>
          <i class="fa mr-2 text-secondary fa-envelope-o"></i>
          <a href="mailto:9160083@esmad.ipp.pt" class="text-white">9160083@esmad.ipp.pt</a>
          <br>
          <br>
        </div>
        <div class="col-4 mt-5">
          <h2 class="mb-4 ml-5">Escola</h2>
          <i class="fa mr-2 text-secondary fa-graduation-cap ml-5"></i>
          <a href="https://www.esmad.ipp.pt/" target="_blank" class="text-white">ESMAD</a>
          <br>
        </div>
        <div class="col-4 mt-5">
          <h2 class="mb-4 ml-5">Localização</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.365083451212!2d-8.74163288467379!3d41.366152179266095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd244419ac8a36b3%3A0x9219b42064878c38!2sEscola+Superior+de+Media+Artes+e+Design!5e0!3m2!1spt-PT!2spt!4v1526322653300"
            width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/14.2.0/smooth-scroll.min.js" integrity="sha256-/k5n1rmutzb2PSqvtV77T+xHa9plhfEjb/mpn1RpMzA=" crossorigin="anonymous"></script>
  <script type ="text/javascript">
	$(function () {
	    var scroll1 = new SmoothScroll('a[href*= "#oque"]')
	    var scroll2 = new SmoothScroll('a[href*= "#funcoes"]')
	    var scroll3 = new SmoothScroll('a[href*= "#equipa"]')
	});
  </script>
</body>

</html>
