<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="shortcut icon" href="img/simbolo.ico" />
</head>

<body style="background-color: #009AF4">

    <div class="text-center">
        <img src="img/logoBranco.png" class="mt-5" alt="Logo" style="width: 400px; height: 300px; text-align:center">
    </div>

    <div class="card" style="background-color:#0172D3; margin-right: 35%; margin-left: 35%; margin-bottom: 8%">
        <div class="card-body">
            <h1 class="card-title" style="color:white; text-align:center">Iniciar Sessão</h1>
            <br>

            <form action="#">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control mt-4" id="password" name="password" placeholder="Password">
                </div>

                <div class="text-center">
                        <a class="btn btn-info btn-block" href="/meuPerfil">Entrar</a>
                </div>
                <p style="margin-left:19%; margin-top:4%; color:white">Esqueceste-te da tua palavra-passe? Clica <a href="registo"style= "color:white">aqui</a>.</p>
                <p style="margin-left:25%; margin-top:4%; color:white">Ainda não tens conta? Regista-te <a href="registo"style= "color:white">aqui</a>.</p>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>